name: Publish SNAPSHOT package to GitHub Packages
on:
  push:
    branches: ['main']

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:

      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'oracle'

      - name: Chmod
        run: chmod +x gradlew

      - name: Ensure this is a snapshot
        run: ./gradlew verifySnapshotSuffix

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.OSS_GPG_KEY }}
          passphrase: ${{ secrets.OSS_GPG_KEY_PASS }}


      - name: Configure Gradle
        run: |
          mkdir -p ~/.gradle
          echo "signing.gnupg.keyName=${{ secrets.OSS_GPG_KEY_NAME }}" >> ~/.gradle/gradle.properties
          echo "signing.gnupg.passphrase=${{ env.OSS_GPG_KEY_PASS }}" >> ~/.gradle/gradle.properties

      - name: Test and publish package
        # Sonatype central does not support snapshots
        run: ./gradlew -PenableSigning=true -PpublishGH=true -PpublishOSS=false test publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OSS_USER: ${{ secrets.OSS_USER }}
          OSS_PASS: ${{ secrets.OSS_PASS }}
